@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #282c34;
  color: rgb(255, 255, 255);
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin: 40px;
}

.logo-in-game {
  height: 10vmin;
  margin-top: 20px;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.wrong-answer {
  border: 3px solid red;
}

.right-answer {
  border: 3px solid rgb(6, 240, 15);
}

.form-header {
  display: flex;
  flex-direction: column;
  padding: 45px;
  border-radius: 10px;
  background: #1c1c1c;
  box-shadow:  -13px -13px 8px #141414,
            13px 13px 8px #242424;
}

input {
  border: 2px solid transparent;
  border-color: #000;
  background: transparent;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 4px;
}

label {
  font-size: 20px;
}

button {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border: 0;
  font-size: 20px;
  border: 2px solid transparent;
  border-color: #000;
  color: rgb(255, 255, 255);
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background,color .1s ease-in-out;
  margin: 4px;
}

button:hover {
  background-color: #000;
  color: #fff;
}

button:disabled {
  background-color: rgb(83, 83, 83);
  color: rgb(139, 139, 139);
}

.info-header {
  display: flex;
  justify-content: flex-end;
}

.name-score-header {
  text-align: center;
  margin: 0 30px;
}

.game-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.time-clock {
  border: 2px solid black;
  margin: 10px 45%;
}

.cat-quest {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
}